In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()
data.shape
# data.info()

(1889, 14)

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
''' Создание словаря из заданного датафрейма по заданной колонке, в качестве значение словаря может выступать 
или счетчик по заданной колонке, или счетчик записей в датафрейме '''
def dict_creator(df, col_for_split, main_counter=[]):
    new_dict = {}
    for rowindex, row in df.iterrows():
        col_group = row[col_for_split].split('|')
        if main_counter:
            counter = row[main_counter]
        else:
            counter = 1
        for item in col_group:
            if item in new_dict:
                new_dict[item] += counter
            else:
                new_dict[item] = counter
    return new_dict

''' Поиск ключа максимального значения в словаре '''
def best_in_dict(work_dict):
    max_value = max(work_dict.values())
    dict_best = {k:v for k, v in work_dict.items() if v == max_value} 
    best_result = '{}'.format(*dict_best.keys())
    return best_result


''' Функция создания словаря вида месяц:количество фильмов для датафрейма df, заданных месяцев в списке monthes
(если параметр monthes не задан, то возвращается словарь из всех встретившихся в df месяецев), a также необязательного 
параметра summ (если summ=True, то возвращается сумма фильмов за заданные месяцы)'''
def dict_months(df, monthes=list(range(1, 13)), summ=False):
    month_counter = {}
    sum_monthes = 0

    for rowindex, row in df.iterrows():
        month = row['release_date'].split('/')[0]
        if int(month) in monthes:
            if month in month_counter:
                month_counter[month] += 1
            else:
                month_counter[month] = 1
                
    if summ:
        for item in month_counter.keys():
            sum_monthes += month_counter[item]
        return sum_monthes
    else:
        return month_counter


data['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data['budget'] == data['budget'].max()]
display(max_budget)
answers['1'] = '{}. {} ({})'.format(max_budget.index[0], *max_budget.original_title, *max_budget.imdb_id)
print(answers['1'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

723. Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [8]:
max_runtime = data[data['runtime'] == data['runtime'].max()]
display(max_runtime)
answers['2'] = '{}. {} ({})'.format(max_runtime.index[0], *max_runtime.original_title, *max_runtime.imdb_id)
print(answers['2'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

1157. Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [10]:
min_runtime = data[data['runtime'] == data['runtime'].min()]
display(min_runtime)

answers['3'] = '{}. {} ({})'.format(min_runtime.index[0], *min_runtime.original_title, *min_runtime.imdb_id)
print(answers['3'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

768. Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = str(round(data['runtime'].mean()))
print(answers['4'])

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = str(round(data['runtime'].median()))
print(answers['5'])

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data['profit'] == data['profit'].max()]
display(max_profit)

answers['6'] = '{}. {} ({})'.format(max_profit.index[0], *max_profit.original_title, *max_profit.imdb_id)
print(answers['6'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

239. Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [14]:
min_profit = data[data['profit'] == data['profit'].min()]
display(min_profit)

answers['7'] = '{}. {} ({})'.format(min_profit.index[0], *min_profit.original_title, *min_profit.imdb_id)
print(answers['7'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

1245. The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = str(len(data[data['profit'] > 0]))
print(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
year2008 = data[data['release_year'] == 2008]
max_revenue2008 = year2008[year2008['revenue'] == year2008['revenue'].max()]
display(max_revenue2008)

answers['9'] = '{}. {} ({})'.format(max_revenue2008.index[0], *max_revenue2008.original_title, *max_revenue2008.imdb_id)
print(answers['9'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

599. The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
year_2012_2014 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]
min_profit_2012_2014 = year_2012_2014[year_2012_2014['profit'] == year_2012_2014['profit'].min()]
display(min_profit_2012_2014)

answers['10'] = '{}. {} ({})'.format(min_profit_2012_2014.index[0], *min_profit_2012_2014.original_title, \
                                     *min_profit_2012_2014.imdb_id)
print(answers['10'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

1245. The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_all = {}
genres_all = dict_creator(data[['genres']], 'genres')

answers['11'] = best_in_dict(genres_all)
print(answers['11'])

Drama

ВАРИАНТ 2

In [19]:
all_genres = []
for rowindex, row in data.iterrows():
    genre_group = row['genres'].split('|')
    for genre in genre_group:
        all_genres.append(genre)

best_genre = Counter(all_genres).most_common(1)

answers['11'] = '{}'.format(best_genre[0][0])
print(answers['11'])

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
genres = {}
genres = dict_creator(data[data.profit > 0][['genres']], 'genres')

answers['12'] = best_in_dict(genres) 
print(answers['12'])

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
directors_rev = {}
directors_rev = dict_creator(data[['director', 'revenue']], 'director', 'revenue')

answers['13'] = best_in_dict(directors_rev) 
print(answers['13'])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
directors = {}
directors = dict_creator(data[data.genres.str.contains('Action')][['director']], 'director')

answers['14'] = best_in_dict(directors) 
print(answers['14'])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
actors2012 = {}
actors2012 = dict_creator(data[data.release_year == 2012][['cast', 'revenue']], 'cast', 'revenue')

answers['15'] = best_in_dict(actors2012)
print(answers['15'])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
high_budget_actors = {}
high_budget_actors = dict_creator(data[data.budget > data.budget.mean()][['cast']], 'cast')

answers['16'] = best_in_dict(high_budget_actors)
print(answers['16'])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
genre_NicolasCage = {}
genre_NicolasCage = dict_creator(data[data.cast.str.contains('Nicolas Cage')][['genres']], 'genres')

answers['17'] = best_in_dict(genre_NicolasCage)
print(answers['17'])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
films_Paramaunt = data[data.production_companies.str.contains('Paramount Pictures')]
minprofit_Paramount = films_Paramaunt[films_Paramaunt.profit == films_Paramaunt.profit.min()]
display(minprofit_Paramount)

answers['18'] = '{}. {} ({})'.format(minprofit_Paramount.index[0], *minprofit_Paramount.original_title, *minprofit_Paramount.imdb_id)
print(answers['18'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

925. K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
year_revenue = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

answers['19'] = str(year_revenue.idxmax())
print(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
max_profit_year = data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().\
sort_values(ascending=False)

answers['20'] = str(max_profit_year.idxmax())
print(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
months = {}
months = dict_months(data)

answers['21'] = str(best_in_dict(months))
print(answers['21'])

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = str(dict_months(data, [6, 7, 8], summ=True))
print(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
all_directors = {}
winter_directors = {}
all_directors = dict_creator(data[['director']], 'director')
for item in all_directors.keys():
    winter_directors[item] = dict_months(data[data.director.str.contains(item)], [12, 1, 2], True)
    
answers['23'] = best_in_dict(winter_directors)
print(answers['23'])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
production_companies = {}
films_mean = {}
production_companies = dict_creator(data[['production_companies']], 'production_companies')
for company in production_companies.keys():
    length_title = list(map(len, data[data.production_companies.str.contains(company, regex=False)]['original_title']))
    films_mean[company] = sum(length_title)/len(length_title)
    
answers['24'] = best_in_dict(films_mean)
print(answers['24'])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
# воспользуемся словарем студий production_companies из задания 24
films_overview = {}
for company in production_companies.keys():
    length_overview = data[data.production_companies.str.contains(company, regex=False)]['overview'].apply(lambda x: \
                                                                                                           len(x.split(' ')))
    films_overview[company] = sum(length_overview)/len(length_overview)
    
answers['25'] = best_in_dict(films_overview)
print(answers['25'])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
best_films = data[data.vote_average >= data.vote_average.quantile(0.99)]
display(best_films)
best_list = []
for rowindex, row in best_films.iterrows():
    best_list.append('{}. {} ({})'.format(rowindex, row.original_title, row.imdb_id))
answers['26'] = best_list 
print(answers['26'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014,106201940
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009,-43452791
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009,61000000
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001,778368364
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,9/18/2013,7.8,2013,76126687
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013,50198285
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006,69676311
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004,52258126
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007,51181545
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

['9. Inside Out (tt2096673)', '28. Spotlight (tt1895587)', '34. Room (tt3170832)', '118. Interstellar (tt0816692)', '119. Guardians of the Galaxy (tt2015381)', '124. Big Hero 6 (tt2245084)', '125. The Imitation Game (tt2084970)', '128. Gone Girl (tt2267998)', '138. The Grand Budapest Hotel (tt2278388)', '155. The Theory of Everything (tt2980516)', '177. The Fault in Our Stars (tt2582846)', '283. Mr. Nobody (tt0485947)', '316. 3 Idiots (tt1187043)', '370. Inception (tt1375666)', '496. The Lord of the Rings: The Fellowship of the Ring (tt0120737)', '599. The Dark Knight (tt0468569)', '863. The Lord of the Rings: The Two Towers (tt0167261)', '872. The Pianist (tt0253474)', '1081. The Lord of the Rings: The Return of the King (tt0167260)', '1183. The Wolf of Wall Street (tt0993846)', '1188. Her (tt1798709)', '1191. 12 Years a Slave (tt2024544)', '1205. Prisoners (tt1392214)', '1213. Dallas Buyers Club (tt0790636)', '1444. The Prestige (tt0482571)', '1563. Eternal Sunshine of the Spotless Mind (tt0338013)', '1688. There Will Be Blood (tt0469494)', '1800. Memento (tt0209144)']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
all_actors = {}
second_actor = {}
couple_actors = {}
all_actors = dict_creator(data[['cast']], 'cast')

for actor1 in all_actors.keys():
    two_actors = data[data.cast.str.contains(actor1, regex=False)]
    second_actor = dict_creator(two_actors[['cast']], 'cast')
    for actor2, value2 in second_actor.items():
        if actor2 == actor1:
            continue
        else:
            name_two_actors = '{} & {}'.format(actor1, actor2)
            couple_actors[name_two_actors] = value2  

answers['27'] = best_in_dict(couple_actors)
print(answers['27'])

Daniel Radcliffe & Rupert Grint

ВАРИАНТ 2

In [36]:
# all_actors = {}
# all_actors = dict_creator(data[['cast']], 'cast')
# all_actors_list = []
# two_actors_dict = {}
# for key, value in all_actors.items():
#     all_actors_list.append(key)

# for idx_actor1 in range(len(all_actors_list) - 1):
#     key_actor1 = all_actors_list[idx_actor1]
#     for idx_actor2 in range(idx_actor1 + 1, len(all_actors_list)):
#         key_actor2 = all_actors_list[idx_actor2]
#         key_actors = '{} & {}'.format(key_actor1, key_actor2)
#         films_couples = len(data[data.cast.str.contains(key_actor1, regex=False)\
#                                  & data.cast.str.contains(key_actor2, regex=False)])
#         if films_couples:
#             two_actors_dict[key_actors] = films_couples

# answers['27'] = best_in_dict(two_actors_dict)
# print(answers['27'])
  
''' Этот вариант я не смог проверить, так как он очень медленно обрабатывал данные, за полчаса времени он не закончил '''

' Этот вариант я не смог проверить, так как он очень медленно обрабатывал данные, за полчаса времени он не закончил '

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['9. Inside Out (tt2096673)',
  '28. Spotlight (tt1895587)',
  '34. Room (tt3170832)',
  '118. Interstellar (tt0816692)',
  '119. Guardians of the Galaxy (tt2015381)',
  '124. Big Hero 6 (tt2245084)',
  '125. The Imitation Game (tt2084970)',
  '128. Gone Girl (tt2267998)',
  '138. The Grand Budapest Hotel (tt2278388)',
  '155. The Theory of Everything (tt2980516)',
  '177. The Fault in Our Stars (tt2582846)',
  '283. Mr. Nobody (tt0485947)',
  '316. 3 Idiots (tt1187043)',
  '370. Inception (tt1375666)',
  '496. The Lord of the Rings: The Fellowship of the Ring (tt0120737)',
  '599. The Dark Knight (tt0468569)',
  '863. The Lord of the Rings: The Two Towers (tt0167261)',
  '872. The Pianist (tt0253474)',
  '1081. The Lord of the Rings: The Return of the King (tt0167260)',
  '1183. The Wolf of Wall Street (tt0993846)',
  '1188. Her (tt1798709)',
  '1191. 12 Years a Slave (tt2024544)',
  '1205. Prisoners (tt1392214)',
  '1213. Dallas Buyers Club (tt0790636)',
  '1444. The Prestige (tt0482571)',
  '1563. Eternal Sunshine of the Spotless Mind (tt0338013)',
  '1688. There Will Be Blood (tt0469494)',
  '1800. Memento (tt0209144)'],
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

27